*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html,body{
  height: 100%;
  width: 100%;
}

.sections{
  width: 100%;
  background-color: lightblue;
  display: flex;
  height: 10vh;
  justify-content: space-between;
  padding: 20px;
  

}
.nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px;
}
.nav button{
  padding: 10px;
  border: none;
}
.nav button:active{
  scale: 0.90;
}